@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* a {
  font-weight: 475;
  color: #646cff;

a:hover {
  color: #535bf2;
} */

body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100vh;
}

@layer components {
  .title {
    display: block;
    position: relative;
    z-index: 100;
    font-family: "Commissioner", sans-serif;
  }

  .title2 {
    display: block;
    z-index: 100;
  }
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes move-twinkle-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.stars,
.twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.flush-text {
  background: linear-gradient(90deg, #f8c7d8, #ff8fab, #ff6f61, #ffc371);
  background-size: 300%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  animation: flush 1.8s ease-out forwards;
}

@keyframes flush {
  0% {
    background-position: 0% 50%;
    color: transparent;
  }
  100% {
    background-position: 100% 50%;
    color: transparent;
  }
}
